@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>IoC Application Home</h1> 
</div>

<table>
    <tr>
        <th>First </th>
        <th>Second </th>    
    </tr>
    <tr>
        <td>@ViewBag.serviceTime1 </td>
        <td>@ViewBag.serviceTime2 </td>
    </tr>
</table>