@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>IoC Application Home</h1> 
</div>
<div class="col-md-12">
    <table>
        <tr>
            <th class="col-md-4">First Service</th>
            <th class="col-md-4">Second Service</th>
            <th class="col-md-4"></th>
        </tr>
        <tr>
            <td>@ViewBag.serviceTime1 </td>
            <td>@ViewBag.serviceTime2 </td>
            <td></td>
        </tr>
    </table>
</div>